.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 31, 30, 0.788);
  border: 10px solid aliceblue;
  border-radius: 20px;
  padding: 20px; /* Ajusta el espaciado según sea necesario */
  margin-top: 20px;
  width: 290px;
  height: 580px;
  position: relative; /* Establece posición relativa en el contenedor */
}

.input {
  width: 280;
  padding: 10px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 5px;
  border: 4px solid aliceblue;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
  cursor: pointer;
  text-align: center;
}

.input:hover {
  background-color: rgba(26, 114, 4, 0.993);
  border-color: aliceblue;
}

.button {
  width: 95px;
  margin-left: 100px;
  border-radius: 100px;
  border-width: 4px;

  background-color: black;
  color: aliceblue;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(26, 114, 4, 0.993);
  border-color: aliceblue;
}

.errors {
  color: red;
  position: absolute;
  margin-bottom: 0px;
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente el mensaje de error */
  text-align: center;
  width: 100%;
}

.image {
  height: 180px;
  width: 200px;
  margin-left: 40px;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  border: 5px solid transparent; /* Asegúrate de tener un borde transparente inicial */
  box-shadow: 0 0 10px transparent; /* Asegúrate de tener una sombra transparente inicial */
  animation: borderGlow 2s infinite; /* Aplicar la animación con duración infinita */
}

@keyframes borderGlow {
  0% {
    border-color: transparent;
    box-shadow: 0 0 10px transparent;
  }
  50% {
    background-color: #00ff00;
    box-shadow: 0 0 10px #00ff00; /* Verde fluor */
  }
  100% {
    border-color: transparent;
    box-shadow: 0 0 10px transparent;
  }
}

h4 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  color: #00ff00;
}

h2 {
  display: flex;
  justify-content: center;
}
